/***********************************/
/*=========     GLOBAL     =========*/
/***********************************/


.lista{
	background: #00695C;
	list-style: none;
	font-size: 18px;
	margin-top: -22px;
}
li {border-bottom: 1px solid black;
    border-left: 1px solid black;
    background: #00897B;}

.form{
    text-align: center;
    background: #1DE9B6;
    padding-top: 16px;
    padding-bottom: 21px
}

/*************************************/
/*=========     HEADER     =========*/
/***********************************/




/*************************************/
/*=========     BANNER     =========*/
/***********************************/





/**************************************/
/*=========     PORTFOLIO     =========*/
/**************************************/




/***************************************/
/*=========    about    =========*/
/*************************************/





/************************************/
/*=========     Contact    =========*/
/**********************************/








/***********************************/
/*=========     Footer    =========*/
/*********************************/




/***********************************/
/*=========     carta    =========*/
/*********************************/


